<header>
    <button mat-button (click)="close()">
        <mat-icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z"/></svg></mat-icon>
        <span>بستن (ESC)</span>
    </button>
    </header>
    <div class="flex column">
    <h3>پروژه</h3>
    <p style="margin-top: -10px; ">افزودن / ویرایش یک پروژه</p>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>نام پروژه</mat-label>
        <input matInput [(ngModel)]="name" [disabled]="loading" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>جزئیات پروژه</mat-label>
        <textarea matInput [(ngModel)]="details" rows="6" [disabled]="loading" autocomplete="off"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>دسته بندی پروژه</mat-label>
        <input matInput type="text" name="category" [(ngModel)]="category" [disabled]="loading" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>آدرس پروژه</mat-label>
        <input matInput type="url" name="url" [(ngModel)]="url" [disabled]="loading" autocomplete="off">
    </mat-form-field>
        <br>
    <div class="flex nowrap">
        <button mat-raised-button color="accent" style="margin-right: auto;" [disabled]="loading" (click)="submit()">ثبت  پروژه</button>
    </div>
</div>