<div class="auth-container flex column">
    <section class="mat-elevation-z1">
        <div class="head">
            <h3>بازیابی رمز عبور</h3>
            <span>لینک تغییر رمز عبور به شما ایمیل می گردد.</span>
        </div>
        <div class="form flex column">
            <mat-form-field appearance="fill">
                <mat-label>آدرس ایمیل</mat-label>
                <input matInput type="email" [(ngModel)]="email" autocomplete="off" [disabled]="loading">
                <mat-hint>مانند: mail@example.com</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>رمز عبور جدید</mat-label>
                <input matInput type="password" [(ngModel)]="password" autocomplete="off" [disabled]="loading">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>تکرار رمز عبور جدید</mat-label>
                <input matInput type="password" [(ngModel)]="trypassword" autocomplete="off" [disabled]="loading">
            </mat-form-field>
            <br>
            <button mat-raised-button color="accent" (click)="submit()" [disabled]="loading">
                <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
                <span *ngIf="!loading">بازیابی رمز عبور</span>
            </button>
        </div>
    </section>
    <p>
        <span class="link" routerLink="/account/register">ثبت نام</span>
        <span> | </span>
        <span class="link" routerLink="/account/login">ورود</span>
    </p>
</div>
