<header>
    <button mat-button (click)="close()">
        <mat-icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M38 12.83L35.17 10 24 21.17 12.83 10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z"/></svg></mat-icon>
        <span>بستن (ESC)</span>
    </button>
</header>
<div mat-dialog-content>
    <div class="flex column">
        <h3>تعرفه اینترنت</h3>
        <p style="margin-top: -10px; ">افزودن / ویرایش یک تعرفه ی اینترنتی</p>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>نام تعرفه اینترنتی</mat-label>
            <input matInput [(ngModel)]="name" [disabled]="loading" autocomplete="off">
            <mat-hint>مانند: زمرد ، الماس</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>دسته بندی  تعرفه اینترنتی</mat-label>
            <input matInput [(ngModel)]="category" [disabled]="loading" autocomplete="off">
            <mat-hint>مانند: جشنواره</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>سرعت تعرفه اینترنتی</mat-label>
            <mat-select [(ngModel)]="speed" [disabled]="loading">
                <mat-option class="en" value="512">{{512}} MB</mat-option>
                <mat-option class="en" value="1024">{{1024 * 1}} MB</mat-option>
                <mat-option class="en" value="2048">{{1024 * 2}} MB</mat-option>
                <mat-option class="en" value="3072">{{1024 * 3}} MB</mat-option>
                <mat-option class="en" value="4096">{{1024 * 4}} MB</mat-option>
                <mat-option class="en" value="8192">{{1024 * 8}} MB</mat-option>
                <mat-option class="en" value="16384">{{1024 * 16}} MB</mat-option>
            </mat-select>
            <mat-hint>بر حسب مگابایت (MB)</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>زمان تعرفه اینترنتی</mat-label>
            <mat-select [(ngModel)]="time" [disabled]="loading">
                <mat-option [value]="1">یک ماهه</mat-option>
                <mat-option [value]="3">سه ماهه</mat-option>
                <mat-option [value]="6">شش ماهه</mat-option>
                <mat-option [value]="12">دوازده ماهه</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>حجم داخلی</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="volume.in" [disabled]="loading" autocomplete="off">
            <mat-hint>بر حسب گیگابایت (GB)</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>حجم بین الملل</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="volume.out" [disabled]="loading" autocomplete="off">
            <mat-hint>بر حسب گیگابایت (GB)</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="each != -1">
            <mat-label>حجم ماهانه</mat-label>
            <input matInput type="number" min="0" [(ngModel)]="each" [disabled]="loading" autocomplete="off">
            <mat-hint>بر حسب گیگابایت (GB)</mat-hint>
        </mat-form-field>
        <mat-checkbox [checked]="each <= 0" (change)="each = each == -1?0:-1">حذف حجم ماهانه</mat-checkbox>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>هزینه ی تعرفه اینترنت</mat-label>
            <input matInput [(ngModel)]="price" [disabled]="loading" autocomplete="off">
            <mat-hint>به تومان</mat-hint>
        </mat-form-field>
        <mat-checkbox [checked]="index" (change)="index = !index">نمایش در صفحه اول</mat-checkbox>
        <br>
    </div>
    <br><br>
</div>
<div mat-dialog-actions class="flex nowrap">
    <button mat-raised-button color="accent" style="margin-right: auto;" [disabled]="loading" (click)="submit()">ثبت  تعرفه اینترنت</button>
</div>
