<div class="container">
    <button class="add-button" mat-raised-button color="accent" [disabled]="loading" (click)="add()">
        <mat-icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M30 24c4.42 0 8-3.59 8-8 0-4.42-3.58-8-8-8s-8 3.58-8 8c0 4.41 3.58 8 8 8zm-18-4v-6H8v6H2v4h6v6h4v-6h6v-4h-6zm18 8c-5.33 0-16 2.67-16 8v4h32v-4c0-5.33-10.67-8-16-8z"/></svg></mat-icon>
        <span>مدیر جدید</span>
    </button>
    <div class="flex column" *ngIf="loading == false && data.length == 0">
        <br><br>
        <p>
            شما تا الان هیچ مدیری  ندارید. <br>
            با کلیک بر روی دکمه ی <u style="cursor: pointer; color: #448aff;" (click)="add()">مدیر جدید</u> ، یک مدیر جدید اضافه کنید.
        </p>
    </div>
    <br>
    <div class="flex column c-jc c-ai" *ngIf="loading" style="margin-top: 10%;">
        <mat-spinner diameter="40"></mat-spinner>
        <br>
        <span>در حال دریافت اطلاعات ...</span>
    </div>
    <table mat-table *ngIf="loading == false && data.length != 0" [dataSource]="data" class="mat-elevation-z2">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> نام و نام خانوادگی </th>
          <td mat-cell *matCellDef="let element"> {{element.name.first == null && element.name.last == null? 'ثبت نشده': element.name.first +' '+element.name.last }} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> آدرس ایمیل </th>
          <td mat-cell *matCellDef="let element" class="en"> {{element.email.address}} </td>
        </ng-container>

        <ng-container matColumnDef="permission">
          <th mat-header-cell *matHeaderCellDef> دسترسی </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <mat-select [disabled]="account.info.email.address == element.email.address" [(ngModel)]="element.permission" (selectionChange)="changePermission($event, element.email.address)">
                <mat-option *ngFor="let item of permissions" [value]="item['value']"> {{item['name']}} </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="verified">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element"> <span class="verified" [ngClass]="{'yes': element.verified}">{{element.verified?'حساب تایید شده':'حساب تایید نشده'}}</span></td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
</div>