mat-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 5px;
}

mat-card svg{
    width: 60px;
    height: 60px;
    margin-top: -30px;
    animation: calling 0.4s infinite linear;
}

mat-card button{
    position: absolute;
    bottom: 20px;
}

@keyframes calling{
    0%, 100%{
        transform: rotate(136deg);
    }
    35%{
        transform: rotate(146deg);
    }
    65%{
        transform: rotate(126deg);
    }
}