<header id="header">
    <mat-toolbar class="dark-toolbar">
        <span (click)="back()">ققنوس من</span>
        <button [ngClass]="{'admin': account.info.permission  != 'user'}" mat-fab [matMenuTriggerFor]="menu"></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/account/profile">
                <mat-icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 6c3.31 0 6 2.69 6 6 0 3.32-2.69 6-6 6s-6-2.68-6-6c0-3.31 2.69-6 6-6zm0 28.4c-5.01 0-9.41-2.56-12-6.44.05-3.97 8.01-6.16 12-6.16s11.94 2.19 12 6.16c-2.59 3.88-6.99 6.44-12 6.44z"/></svg></mat-icon>
                <span>حساب کاربری</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M20.17 31.17L23 34l10-10-10-10-2.83 2.83L25.34 22H6v4h19.34l-5.17 5.17zM38 6H10c-2.21 0-4 1.79-4 4v8h4v-8h28v28H10v-8H6v8c0 2.21 1.79 4 4 4h28c2.21 0 4-1.79 4-4V10c0-2.21-1.79-4-4-4z"/></svg></mat-icon>
                <span>خروح از حساب</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</header>